---
import { SEO } from 'astro-seo'

import type { SitePage } from '@sites/types'
import { buildCanonicalAndAlternate } from '@sites/index'

export interface Props { page: SitePage }

const { site: config } = Astro.props
const {
  locale,
  page,
  currentUrl,
  canonicalUrl,
  localeAlternate,
  alternateUrls,
} = config
const { title, description } = page.meta
const og = page.openGraph
const openGraph = {
  basic: {
    ...og.basic,
    url: currentUrl
  },
  image: page.openGraph.image,
  optional: { description, localeAlternate }
}
---
<html lang={locale} class='scroll-smooth'>
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonicalUrl.url}
      openGraph={openGraph}
      extend={{
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width' },
        ],
        link: [
          { rel: "icon", href: "/favicon.png" },
          { rel: 'preconnect', href: 'https://fonts.googleapis.com' },
          { rel: 'preconnect', href: 'https://fonts.gstatic.com' },
          { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Martel+Sans:wght@300;400;700&display=swap'},
          ...alternateUrls.map(alternate => ({
            href: alternate.url,
            rel: 'alternate',
            hrefLang: alternate.locale
          }))
        ]
      }}
    />
    <style is:global>
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
    </style>

    <script>
      function redirectToCatalan () {
        var searchParams = new URLSearchParams(window.location.search)
        const forceLocale = !!searchParams.get('forceLocale')
        // I want to see any locale
        if (forceLocale) return

        var pathname = window.location.pathname
        var lang = navigator.language || navigator.userLanguage;
        var isCatVersion = pathname.match(/\/ca\/?$/)
        if (!isCatVersion && lang.indexOf('ca') == 0) {
          window.location = '/maestro-de-ceremonias/ca/'
        }
      }

      redirectToCatalan()
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
