---
import { SEO } from 'astro-seo'

import type { SitePage } from '@site/types'
import { buildCanonicalAndAlternate } from '@site/index'

const { page } = Astro.props
const {
  locale,
  currentPage,
  currentUrl,
  canonicalUrl,
  localeAlternate,
  alternateUrls,
} = page
const { title, description } = currentPage.meta
const og = currentPage.openGraph
const openGraph = {
  basic: {
    ...og.basic,
    url: currentUrl
  },
  image: currentPage.openGraph.image,
  optional: { description, localeAlternate }
}
---
<html lang={locale} class='scroll-smooth'>
  <head>
    <SEO
      title={title}
      description={description}
      canonical={canonicalUrl.url}
      openGraph={openGraph}
      extend={{
        meta: [
          { charset: 'utf-8' },
          { name: 'viewport', content: 'width=device-width' },
        ],
        link: [
          { rel: "icon", href: "/favicon.png" },
          { rel: 'preconnect', href: 'https://fonts.googleapis.com' },
          { rel: 'preconnect', href: 'https://fonts.gstatic.com' },
          { rel: 'stylesheet', href: 'https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Martel+Sans:wght@300;400;700&display=swap'},
          ...alternateUrls.map(alternate => ({
            href: alternate.url,
            rel: 'alternate',
            hrefLang: alternate.locale
          }))
        ]
      }}
    />
  </head>
  <body>
    <slot />
    <script>
      function onClickQuote(e) {
        console.log('EVENT', event);
      }
    </script>
  </body>
</html>
